*{margin:0;padding:0;box-sizing:border-box;font-family:Arial;}

body{
    background:#000;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

/* ===== Pantallas ===== */
.pantalla{
    position:absolute;
    top:0; left:0;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    pointer-events:none;
    transition:0.6s;
}
.pantalla.visible{
    opacity:1;
    pointer-events:auto;
}

/* ===== VIDEO DE FONDO ===== */
#video-fondo{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:contain; /* ✅ NO deforma */
    background:black; /* ✅ Rellena bordes sobrantes */
}

/* Sombra general estilo */
.overlay-negro{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(18,18,18,0.55);
}

/* ===== BOTONES PANTALLA INICIO ===== */
.contenedor-botones{
    z-index:5;
    text-align:center;
}

.titulo{
    font-size:40px;
    color:#F7A0D3;
    margin-bottom:25px;
}

.btn{
    padding:15px 35px;
    margin:10px;
    background:#ffffff22;
    border:2px solid #F37BB8;
    color:white;
    font-size:18px;
    border-radius:10px;
    backdrop-filter:blur(5px);
}
.btn:hover{
    background:#F7A0D3;
}

/* ===== BOTONES PANTALLA JUEGO ===== */
.top-controls{
    position:absolute;
    top:15px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    gap:10px;
    z-index:10;
}
.btn2{
    padding:8px 18px;
    font-size:16px;
    background:#F7A0D3;
    border:none;
    border-radius:8px;
    color:#000;
}

/* ===== TABLERO ===== */
#tablero{
    display:grid;
    justify-content:center;
    align-items:center;
    width:90vmin;
    height:90vmin;
    max-width:90vw;
    max-height:90vw;
    background:#ffddf0;
    border-radius:10px;
    overflow:hidden;
}

/* Cada pieza */
.pieza{
    background-size:cover;
    background-position:center;
    border:1px solid #ffb6df;
}

/* Casilla VACÍA (solo una) */
.vacia{
    background:#ffd7f5 !important;
}


/* Botón de mute */
.mute-btn{
    position:absolute;
    bottom:15px;
    right:15px;
    padding:10px;
    border:none;
    border-radius:50%;
    background:#F7A0D3;
    font-size:20px;
}
