#pantalla-juego {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #000;
}

#puzzle {
    border: 3px solid #ff7ebc;
    background: #000;
    display: block;
    margin: 0 auto;
    touch-action: manipulation;
}

#controles {
    margin-top: 15px;
    text-align: center;
}

.btn-romantico {
    font-size: 22px;
    padding: 12px 30px;
    margin: 8px;
}
