body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:black;
    color:white;
    text-align:center;
}

.pantalla{
    display:none;
    width:100vw;
    height:100vh;
    justify-content:center;
    align-items:center;
}

.pantalla.visible{
    display:flex;
}

.titulo{
    font-size:32px;
    margin-bottom:20px;
    color:#ff9ece;
}

/* Botones principales */
.btn{
    padding:15px 30px;
    margin:10px;
    background:#ff9ece;
    border:none;
    border-radius:10px;
    color:black;
    font-size:18px;
    cursor:pointer;
}

.btn-peq{
    padding:5px 12px;
    background:#ff9ece;
    border:none;
    color:black;
    margin-top:10px;
    border-radius:6px;
    cursor:pointer;
}

/* Botones en el juego */
.btn2{
    padding:10px 20px;
    background:#ff9ece;
    border:none;
    border-radius:8px;
    cursor:pointer;
    color:black;
    margin:3px;
}

/* Tablero responsive */
#tablero{
    display:grid;
    margin:auto;
    width:80vmin;
    height:80vmin;
    max-width:95vw;
    max-height:95vw;
    background:#ffe5f4;
    border-radius:10px;
    box-shadow:0 0 10px #ff9ece;
    overflow:hidden;
}

/* Cada pieza */
.pieza{
    background-size:cover;
    background-position:center;
    cursor:pointer;
    border:1px solid #ffb3d9;
}

/* Única pieza vacía */
.vacia{
    background:#ffd1ec !important;
}
