*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:black;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

/* ===== PANTALLAS ===== */
.pantalla{
    position:absolute;
    top:0; left:0;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    pointer-events:none;
    transition:0.5s;
}
.pantalla.visible{
    opacity:1;
    pointer-events:auto;
}

/* ===== VIDEO DE FONDO ===== */
#video-fondo{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:contain;
    background:black; /* Rellena bordes sin deformar */
}

/* Capa oscura encima del video */
.overlay-negro{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(20, 20, 20, 0.6);
}

/* ===== BOTONES ===== */
.contenedor-botones{
    z-index:10;
    text-align:center;
}

.titulo{
    font-size:40px;
    color:#F7A0D3;
    margin-bottom:20px;
}

.btn{
    padding:15px 35px;
    margin:10px;
    background:#ffffff22;
    border:2px solid #F37BB8;
    color:white;
    font-size:18px;
    border-radius:10px;
    backdrop-filter:blur(3px);
    cursor:pointer;
}
.btn:hover{
    background:#F7A0D3;
    color:black;
}

/* ===== BOTONES JUEGO ===== */
.top-controls{
    position:absolute;
    top:15px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    gap:10px;
    z-index:10;
}
.btn2{
    padding:10px 20px;
    font-size:17px;
    background:#F7A0D3;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

/* ===== TABLERO ===== */
#tablero{
    display:grid;
    width:70vmin;
    height:70vmin;
    max-width:95vw;
    max-height:95vw;
    background:#ffddf0;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 0 15px #ff9edb;
}

/* Piezas */
.pieza{
    background-size:cover;
    background-position:center;
    border:1px solid #ffb6df;
    cursor:pointer;
}

/* ÚNICA casilla vacía */
.vacia{
    background:#ffd0f5 !important;
}

/* Mute button */
.mute-btn{
    position:absolute;
    bottom:15px;
    right:15px;
    padding:10px;
    border:none;
    border-radius:50%;
    background:#F7A0D3;
    font-size:20px;
}
