body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
}

/* Pantalla inicial */
#pantalla-inicio {
    position: absolute;
    width: 100%;
    top: 30%;
}

select, button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* Puzzle */
#contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

canvas {
    border: 3px solid #ff4fa3;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: black;
}

.controls button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

#mensaje {
    margin-top: 15px;
    font-size: 20px;
    color: #74A800;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Oculto */
.oculto {
    display: none;
}

/* Corazones */
.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    transform: rotate(45deg);
    animation: floatUp linear forwards;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}

.heart::before {
    top: -10px;
    left: 0;
}

.heart::after {
    left: 10px;
    top: 0;
}

@keyframes floatUp {
    0% { transform: translateY(0) rotate(45deg); opacity:1; }
    100% { transform: translateY(-500px) rotate(45deg); opacity:0; }
}
